body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 0;
    letter-spacing: -0.5px;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: black;
    color: white;
}

td {
    padding: 0 0 0 0;
}

img {
    width: 100%;
    display: block;
}

h4 {
    margin: 3px 0 10px 0;
}

p {
    margin: 0 0 0 0;
}

blockquote {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#container {
    width: 640px;
}

#sidebar {
    float: left;
    background-color: rgb(50,50,150);
    width: 150px;
}

#inhalte {
    float: left;
    width: 490px;
}

#portraet {
    width: 150px;
    text-align: center;
}

#table-sidebar {
    background-color: rgb(50,50,150);
    vertical-align: top;
}

#demonstrationen {
    background-image: linear-gradient(to bottom, rgb(240,240,255), rgb(190,190,255));
}

#gerichtsverfahren {
    background-image: linear-gradient(to bottom, rgb(255,240,240), rgb(255,190,190));
}

#veranstaltungen {
    background-image: linear-gradient(to bottom, rgb(240,255,240), rgb(190,255,190));
}

.data-zeile {
    background-image: linear-gradient(to bottom, rgb(240,240,240), rgb(190,190,190));
    text-align: center;
}

.kategorie {
    width: 50%;
}

.abstand1 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}

.abstand2 {
    padding: 3px 6px 10px 6px;
}