body {
    width: 640px;
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,255,255)
}

a, p, figcaption {
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
}

h2 {
    font-size: 18px;
    line-height: 18px;
}

h3 {
    font-size: 12px;
    line-height: 0px;
    font-weight: bold;
}

li {
    font-size: 12px;
    line-height: 18px;
}

td {
    vertical-align: top;
}

a:hover {
    color: red;
}