body {
    width: 640px;
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,255,255)
}

.upload-char {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(75,75,75)
}

.upload-name {
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(75,75,75)
}

.upload-desc {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75,75,75);
    text-align: left;
}

p, figcaption, blockquote {
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
}

h2 {
    font-size: 18px;
    line-height: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px black;
}

h3 {
    font-size: 12px;
    line-height: 0px;
    font-weight: bold;
}

li {
    font-size: 12px;
    line-height: 18px;
}

td {
    vertical-align: top;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-style: wavy;
}

hr {
    margin: 0 0 0 0;
}